<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ssm_demo.mapper.UserMapper">
    <resultMap id="baseMap" type="com.example.ssm_demo.entity.Userinfo">
        <id column="id" property="id"></id>
        <id column="username" property="username"></id>
        <id column="photo" property="photo"></id>
        <id column="username" property="username"></id>
        <id column="createtime" property="createtime"></id>
        <id column="updatetime" property="updatetime"></id>
        <id column="state" property="state"></id>
    </resultMap>

    <select id="getUserById" resultType="com.example.ssm_demo.entity.Userinfo">
        select * from userinfo where id = #{userId}
    </select>

    <select id="getAll" resultType="com.example.ssm_demo.entity.Userinfo"  >  <!-- getAll resultMap="baseMap"-> 接口中的方法名 resultType -> 返回类型 -->
        select id,username as name,password,photo,createtime,updatetime,state from userinfo
    </select>

    <select id="getIdByName" resultType="com.example.ssm_demo.entity.Userinfo">
        select id from userinfo where username= #{username}
    </select>

<!--     除了select 标签，其他标签都只要id，因为其他标签都是返回受影响的行数，而不是数据-->
    <insert id="add">
        insert into userinfo(username,password,createtime,updatetime)
        values(#{username},#{password},#{createtime},#{updatetime} )
--  字符串使用 $ 会报错，要使用#，大部分99%都是#
    </insert>

    <insert id="addGetId" useGeneratedKeys="true" keyProperty="id">
        insert into userinfo(username,password,createtime,updatetime)
        values(#{username},#{password},#{createtime},#{updatetime} )
    </insert>

    <update id="upUserName">
        update userinfo set username=#{username} where id=#{id}
    </update>

    <delete id="delById">
        delete from userinfo where id = #{id}
    </delete>

    <select id="getListByOrder" resultType="com.example.ssm_demo.entity.Userinfo">
        select * from userinfo order by id ${order}
    </select>

    <select id="login" resultType="com.example.ssm_demo.entity.Userinfo">

        select * from userinfo where username='${username}' and password='${password}'
    </select>

    <select id="getListByName" resultType="com.example.ssm_demo.entity.Userinfo">
        select * from userinfo where username like concat('%',#{username},'%')
    </select>

    <insert id="add2">
         insert into userinfo(username,
         <if test="photo!=null">
             photo,
         </if>
        password)
        values(#{username},
        <if test="photo!=null">
           #{photo},
        </if>
        #{password})
    </insert>

    <!--    suffixOverrides 末尾有 , 则去除，如果没有则不去除
            在 “” 内写属性名不需要#，在if标签内写对象属性要加上 #-->
    <insert id="add3">
        insert into userinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="username!=null">
                username,
            </if>
            <if test="password!=null">
                password,
            </if>
            <if test="photo!=null">
                photo
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="username!=null">
                #{username},
            </if>
            <if test="password!=null">
                #{password},
            </if >
            <if test="photo!=null">
                #{photo},
            </if>
        </trim>
    </insert>

    <select id="getListByParam" resultType="com.example.ssm_demo.entity.Userinfo">
        select * from userinfo
        <where>
            <if test="username!=null">
                username=#{username}
            </if>
            <if test="password!=null">
                and password=#{password}
            </if>
        </where>
    </select>

    <update id="update2">
        update userinfo
        <set>
            <if test="username!=null">
                username=#{username},
            </if>
            <if test="password!=null">
                password=#{password},
            </if>
            <if test="photo!=null">
                photo=#{photo}
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="dels">
        delete from userinfo where id in
        <foreach collection="ids" open="(" close=")" item="id" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>














